".source.pcb.sexp":
	editor:
		commentStart: "(comment "
		commentEnd:   ")"

".source.pcb.board,
 .source.pcb.schematic":
	editor:
		commentStart: "# "

".source.gerber":
	editor:
		commentStart: "G04 "
		commentEnd:   "*"
